h1{
    background-color: blueviolet;
}
p{
    background-color: red;
}
<div>
<p> direct 1</p>
<p> direct 2</p>
<span>
<p> indirect 1</p>
</div>
</span>
div {
    background color: purple;
}
p{
    bg-c:red
}
<p style="bg-c:red">
</p>